@import url("https://www.google.com/fonts/specimen/Montserrat");
@import url("https://www.google.com/fonts/specimen/Open+Sans");

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    background-color: #4c5eab;

    a {
        color: #fff;
        text-decoration: none;
    }

    &>.container {
        height: 180px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .brand {
            height: 120px;
            width: 500px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;

            &__logo {
                height: 100%;
                width: 120px;
                border-radius: 50%;
                background: #88f;
            }

            &__title {
                font-size: 20px;
                font-family: "OpenSans", sans-serif;

                &>.name {
                    font-size: 32px;
                    font-weight: bold;
                    font-family: "Montserrat", sans-serif;
                }
            }
        }

        & .menu {
            margin: 0;
            padding: 0;
            width: 220px;

            & li {
                display: flex;
                position: relative;
                justify-content: flex-start;

                &+li {
                    padding-top: 20px;
                }

                &::before {
                    background-size: cover;
                    background-position: center;
                }



                &:nth-of-type(1)>a>div {
                    background-image: url(../img/gulpfile.js.png);
                    width: 10px;
                    left: -20px;
                }

                &:nth-of-type(2)>a>div {
                    background-image: url('../img/globe.png');
                    width: 14px;
                    left: -22px;
                }

                &:nth-of-type(3)>a>div {
                    background-image: url('../img/telephone.png');
                    width: 10px;
                    left: -20px;
                }

                & a {
                    font-family: serif;
                    font-family: "OpenSans", sans-serif;
                    display: flex;
                    position: relative;

                    &:hover {
                        opacity: 50%;
                    }


                    & div {
                        position: absolute;
                        background-position: center;
                        background-size: cover;
                        height: 14px;
                    }
                }
            }
        }

        & .box {
            display: none;
        }
    }
}

.my {
    width: 230px;

    & >div {
        padding-bottom: 10px;
        &>.data{
        font-family: "OpenSans", sans-serif;
        font-size: 16px;}

        &>.title {
            padding: 15px 0 15px 50px;
            font-size: 24px;
            font-family: "Montserrat";
            font-weight: 600;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                background-image: url('../img/case.png');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 50%;
                top: 8px;
                left: 0;
                width: 32px;
                height: 32px;
            }
        }
        
    }
    & .interest>.data{
        display: flex;
        justify-content: space-around;
        & a {
        width: 64px;
        height: 64px;
        text-align: center;
        align-content: space-between;
        & div{
            background-image: url('../img/handset.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin: 0 auto 8px;
            width: 40px;
            height: 40px;
        }

    }
}}